<app-header></app-header>
<div class="galary-pic">
  <img src="../../../assets/hotel carousel/about.jpg" alt="" class="main-pic">
  <h1 class="main-header">Galary</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <img  src="../../../assets/galary/01.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/02.jpeg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/3.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/4.jpg" alt="">
    </div>
  </div>


  <div class="row">
    <div class="col-3">
      <img  src="../../../assets/galary/5.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/6.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/7.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/8.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img  src="../../../assets/galary/9.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/10..jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/11.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/12.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img  src="../../../assets/galary/13.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/14.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/15.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/16.jpg" alt="">
    </div>
  </div>

    <div class="row">

    <div class="col-3">
      <img   src="../../../assets/galary/17.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/18.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/19.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/20.jpg" alt="">
    </div>

  </div>

  <div class="row">

    <div class="col-3">
      <img   src="../../../assets/galary/22.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/23.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/24.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/25.jpg" alt="">
    </div>

  </div>

  <div class="row">

    <div class="col-3">
      <img   src="../../../assets/galary/26.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/27.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/28.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/29.jpeg" alt="">
    </div>

  </div>

  <div class="row">

    <div class="col-3">
      <img   src="../../../assets/galary/30.jpeg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/31.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/32.jpg" alt="">
    </div>

    <div class="col-3">
      <img   src="../../../assets/galary/33.jpg" alt="">
    </div>

  </div>
</div>

<br><br>

<app-footer></app-footer>
