
<app-header></app-header>
<div class="main-div">
  <img src="../../../assets/about/about2.jpg" alt="" class="main-pic">
  <h1 class="main-header">Bakar Food</h1>
</div><br>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About Us</h1>
      <h5>Bakar food</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>
        Bakar Food, a Pakistani dining experience by the group of Yum and English Tea House. Designed by the renowned hospitality consultant, Masood Ali Khan, Bakar Food is a celebration of Pakistani cuisine, comfortable ambiance, five star service and much needed, diversified, quality, Pakistani food.
      </p>
      <p>At bakar food, the rich Pakistani culture and heritage is highlighted in our diversifying flavours from across the country. Bakar Food offers Sunday Brunch, Lunch, Super Tea and Dinner.</p>
      Our Empress and Sultan Boardrooms now provide the perfect space for corporate lunch meetings or a nice relaxing dinner. Our dining areas and courtyard offers an experience that surpass every celebratory expectations and we hope to place ourselves as a must visit destination, for all dignitaries and visitors alike, on the Lahore map.
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-8">
      <h1>Group</h1>
      <p>Bakar Food is yet another successful project of the Yum Group of Restaurants. Established in 2010, the Group first entered the culinary market of Lahore with Yum Chinese and Thai Restaurant. With immense success at the first Gulberg location, the group created a quaint and comfortable cafe, English Tea House in the backyard of Yum. By the grace of God and strong support of all visitors and staff alike, the group opened up another location of Yum and English Tea House, close to each other, in Z Block, Phase III, DHA.</p>

      <p>
        The brains behind the group grew up in Lahore and always had a true affection for our cuisine. Finding a space in the market for high-end yet qualitative desi set-up, the idea of Bakar Food was incorporated with our location opening in Summer 2015. Nestled in the entrance is Chashni, the Sweet House with a better taste; capturing our rich culture and heritage with our favorite, Mithai.
      </p>

      <p>We are truly thankful to each and every person who has been with us from the first day, to all the supporters of all our projects and most importantly, our staff; our backbone. With your love and support we continue to provide excellence in many forms and Bakar Food is the local culmination of that affection.</p>
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-2">
      <img src="../../../assets//about/yum.png" width="100px" height="100px" alt="">
    </div>
    <div class="col-2">
      <img src="../../../assets//about/Chashni.png" width="100px" height="100px" alt="">
    </div>
    <div class="col-2">
      <img src="../../../assets//about/ETH-2017.png" width="100px" height="100px" alt="">
    </div>
  </div>
</div>

<br><br><br><br>
<app-footer></app-footer>
