
<app-header></app-header>

<div class="galary-pic">
  <img src="../../../assets/location/location2.jpg" alt="" class="main-pic">
  <h1 class="main-header">Location</h1>
</div>

<div class="main-location-div">
  <h3>GULBERG</h3><hr>

  <div>
    <p>1, T Block, Gulberg, Lahore</p>
    <p>Off M M Alam Road.</p>
    <p>+92-311-112233443</p>
    <p>0423 1122334</p>
  </div><br>

  <h4>Gulberg 3, lahore</h4><hr>

  <div>
    <p>58 MB, Main Blouevard, Sector H, Gulberg 3, Lahore</p>
    <p>+92-311-112233443</p>
    <p>0423 1122334</p>

  </div>

</div>


<br><br>
<app-footer></app-footer>
