<app-admin-header></app-admin-header>

<br>
<div class="container">
  <div class="row">
    <div class="col">
      <mat-tab-group animationDuration="0ms" [selectedIndex]="0" #tabGroup (selectedTabChange)="tabChanged($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadgeOverlap="false">Pendding Orders</span>
          </ng-template>

          <!-- Data of Pending Orders -->
          <br>
          <p-table [value]="penddingOrders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Order-Number</th>
                <th>Order-Date</th>
                <th>Order-Status</th>
                <th>Customer-name</th>
                <th>Order-Detail</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-penddingOrders>
              <tr>
                <td>{{penddingOrders?.orderID}}</td>
                <td>{{penddingOrders?.orderTime | date:'short'}}</td>
                <td>
                  <p
                    style="background-color: #f0ad4e; color: white; text-align: center; width: 103px;border-radius: 6px;">
                    {{penddingOrders?.orderStatus}}
                  </p>
                </td>
                <td>{{penddingOrders?.fullName}}</td>
                <td><a [routerLink]="['/Admin/OrderDetails/', penddingOrders?.fullAddress]"
                    [queryParams]="{orderStatus:onTabChangeOrder}" class="btn btn-primary">Orders-Items-Detail</a></td>
              </tr>
            </ng-template>

          </p-table>






        </mat-tab>

        <!-- Accepted Order and Shipped -->
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadgeOverlap="false">Accepted Orders / Orders History
            </span>
          </ng-template>
          <br>
          <p-table [value]="shippedOrder" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Order-Number</th>
                <th>Order-Date</th>
                <th>Order-Status</th>
                <th>Customer-name</th>
                <th>Order-Detail</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-penddingOrders>
              <tr>
                <td>{{penddingOrders?.orderID}}</td>
                <td>{{penddingOrders?.orderTime | date:'short'}}</td>
                <td>
                  <p
                    style="background-color: green; color: white; text-align: center; width: 103px;border-radius: 6px;">
                    {{penddingOrders?.orderStatus}}
                  </p>
                </td>
                <td>{{penddingOrders?.fullName}}</td>
                <td><a [routerLink]="['/Admin/OrderDetails/', penddingOrders?.fullAddress]"
                    [queryParams]="{orderStatus:onTabChangeOrder}" class="btn btn-primary">Orders-Items-Detail</a></td>
              </tr>
            </ng-template>

          </p-table>






        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>



<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton label="Cancel" (click)="cd?.reject()" class="btn btn-primary"></button>
    <button type="button" class="btn btn-danger" label="Ok" (click)="cd?.accept()">Order Cancel</button>
  </p-footer>
</p-confirmDialog>
