<div class="first-footer">
  <div class="my-row">

    <div class="first-box">
      <ul>
        <li>
          <a [routerLink]="['/About']">About</a>
        </li>
        <li>
          <hr>
          <a [routerLink]="['/Menu']">Menu</a>
          <hr>
        </li>
        <li>
          <a [routerLink]="['/Galary']">Galary</a>
          <hr>
        </li>
        <li>
          <a [routerLink]="['/Location']">Location</a>
        </li>
      </ul>
    </div>

    <div class="second-box">
      <h5><i class="fas fa-clock    ">&nbsp;</i> Opening Hours</h5>
      <ul>
        <li>
          <span><strong>Monday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>12:00 - 00:00</span>
        </li>
        <li>
          <span><strong>Tuesday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>12:00 - 00:00</span>
        </li>
        <li>
          <span><strong>Wednesday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>12:00 - 00:00</span>
        </li>
        <li>
          <span><strong>Thursday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>12:00 - 00:00</span>
        </li>
        <li>
          <span><strong>Friday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>12:00 - 00:00</span>
        </li>
        <li>
          <span><strong>Saturday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>12:00 - 00:00</span>
        </li>
        <li>
          <span><strong>Sunday</strong></span>&nbsp;
          <span>.....................</span>&nbsp;
          <span>10:00 - 00:00</span>
        </li>
      </ul>
    </div>

  </div>

</div>



<div class="last-footer">

  <ul>
    <li>
      <a href="https://www.facebook.com"> <i class="fa-brands fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram"></i></a>
    </li>
  </ul>

  <p>&copy; Copyright 2022 Bakar food by Abobakar Sadeeq
  </p>

</div>
